

AuthType Basic
AuthUserFile /Applications/MAMP/htdocs/tmp/management/.htpasswd
AuthName "Please enter your ID and password"
require valid-user

RewriteRule ^reservation/detail/?1 /home/tokyo-mytour/www/promote.good-learning.jp/management/reservation/detail.php